<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <title>serving static file</title>
  </head>
  <body>
    <div class="card">
      <h2>hello world</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        perferendis adipisci nulla quas amet veniam, ad, maxime quaerat nobis
        deleniti cupiditate! Veniam quasi maiores deserunt quia eveniet
        recusandae hic odit!
      </p>
    </div>
  </body>
</html>
